<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <form id="loginform" name="loginForm" action="/login" method="post">
    <table border="0">
        <tr>
            <td>账号：</td>
            <td><input type="text" name="userName"></td>
        </tr>
        <tr>
            <td>密码：</td>
            <td><input type="password" name="password">
            </td>
        </tr>
    </table>
    <br>
    <input type="submit" value="登录" style="color:#BC8F8F">
  </form>

  <form id="registerform" name="registerForm" action="/register" method="post">
      <table border="0">
          <tr>
              <td>账号：</td>
              <td><input type="text" name="userName"></td>
          </tr>
          <tr>
              <td>密码：</td>
              <td><input type="password" name="password">
              </td>
          </tr>

          <tr>
              <td>角色：</td>
              <td><input type="text" name="userRole">
              </td>
          </tr>
      </table>
      <br>
      <input type="submit" value="注册" style="color:#BC8F8F">
  </form>


  <form id="releaseCourseform" name="releaseCourseForm" action="/releaseCourse" method="post">
      <table border="0">
          <tr>
              <td>课程名：</td>
              <td><input type="text" name="userName"></td>
          </tr>
          <tr>
              <td>专业：</td>
              <td><input type="password" name="password">
              </td>
          </tr>

          <tr>
              <td>课时：</td>
              <td><input type="text" name="userRole">
              </td>
          </tr>
      </table>
      <br>
      <input type="submit" value="注册" style="color:#BC8F8F">
  </form>


</body>
</html>


